.input {
  padding: 13px 18px;
  border-radius: 10px;
  border: 1px solid #f3f3f3;
  position: relative;

  &::placeholder {
    color: #c4c4c4;
  }

  &.search {
    padding: 13px 30px;
    background: url("../../img/icons/search.svg") no-repeat;
    background-size: 14.5px 14.5px;
    background-position: 3% center;
    background-color: white;
  }
}
