html, body{
  background-color: #ffff;
  margin: 0px;
  padding: 0px;
  width: auto;
  background: url('./components/img/backgrounds/background.jpg');
  
  // overflow-x: hidden;
}

.wrapper{
  width: 1080px;
  min-width: 400px;
  background-color: white;

  @media (min-width: 1080px) {
    &{
      margin: 80px 0px;
      border-radius: 20px;
      // min-height: 1000px;
    }
  }
}

a {
  text-decoration: none;
}

.App {
  text-align: center;
  font-family: 'Inter', sans-serif;
  display: flex;
  justify-content: center;
}

.green-text{
  color: #8BB43C;
}


.content{
  padding: 0px 10px;
}

  