html, body{
  margin: 0px;
  padding: 0px;
  width: auto;
}

.App {
  text-align: center;
  font-family: 'Inter', sans-serif;
}

.green-text{
  color: #8BB43C;
}

.header{
  margin-bottom: 45px;
}

.content{
  padding: 0px 5px;
}

  